<mat-toolbar>
  <mat-toolbar-row>
    <h1>BlockBookie</h1>
    <span class="spacer"></span>
    <p>Current User: {{ market.accounts[0] }}</p>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <p>Current Pot: {{ market.pot }}</p>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Viewer">
    <mat-grid-list cols="9" rowHeight="2.5em">
      <mat-grid-tile colspan="9" rowspan="1">
        <h1>Current Holdings</h1>
      </mat-grid-tile>

      <mat-grid-tile colspan="9" rowspan="4">
        <mat-card
          *ngFor="let holding of market.user_holdings.values()"
          class="mat-elevation-z8"
        >
          <mat-card-title>{{ holding.playerID }}</mat-card-title>
          <mat-card-subtitle
            >Holdings: {{ holding.holdings }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Value: {{ holding.holdings * holding.price }}</mat-card-subtitle
          >
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="9" [rowspan]="1.4*market.player_data.length">
        <mat-table [dataSource]="market.player_data" class="mat-elevation-z8">
        <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Buy/Sell">
    <mat-grid-list cols="4" rowHeight="2.5em">
      <mat-grid-tile colspan="4" rowspan="1">
        <h1>Current Holdings</h1>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" rowspan="4">
        <mat-card
          *ngFor="let holding of market.user_holdings.values()"
          class="mat-elevation-z8"
        >
          <mat-card-title>{{ holding.playerID }}</mat-card-title>
          <mat-card-subtitle
            >Holdings: {{ holding.holdings }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Value: {{ holding.holdings * holding.price }}</mat-card-subtitle
          >
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="10">
        <app-buy-form></app-buy-form>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="10">
        <app-sell-form></app-sell-form>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Admin">
    <mat-grid-list cols="6" rowHeight="2.5em">
      <mat-grid-tile colspan="6" rowspan="1">
        <h1>Current Holdings</h1>
      </mat-grid-tile>

      <mat-grid-tile colspan="6" rowspan="4">
        <mat-card
          *ngFor="let holding of market.user_holdings.values()"
          class="mat-elevation-z8"
        >
          <mat-card-title>{{ holding.playerID }}</mat-card-title>
          <mat-card-subtitle
            >Holdings: {{ holding.holdings }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Value: {{ holding.holdings * holding.price }}</mat-card-subtitle
          >
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="8">
        <app-update-price></app-update-price>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="13">
        <app-mint-form></app-mint-form>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="8">
        <app-check-token></app-check-token>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
<div></div>
