/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 

    mat-chip-list {
        margin-top: 1em;
        mat-chip {
            margin:1em;
            padding:1em;
        }
    }
    button {
        margin: 1em;
        padding: 1em;
    }
}
